[submodule "xchange-stream"]
	path = xchange-stream
	url = https://gitlab.com/mbfplay/xchange-stream.git
	branch = okex-v3-bts
[submodule "XChange"]
	path = XChange
	url = https://gitlab.com/mbfplay/xchange.git
  branch = bitplay-changes
