[submodule "xchange-stream"]
	path = xchange-stream
	url = https://github.com/slix007/xchange-stream.git
	branch = okex-v3-bts
[submodule "XChange"]
	path = XChange
	url = https://github.com/slix007/XChange.git
  branch = bitplay-changes